.header {
    height: 100px; /* wykorzystywane do kalkulacji */
    background-color: #000000;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
}